<ion-modal-view class="traffic-selector">
    <ion-content scroll="false">
        <div class="grey-mark" ng-click="selectTrafficType.hide()">
        </div>
        <div class="row row-bottom traffic-content">
            <div class="col traffic-icon">
                <img src="img/expense_report_version/travel/traffic/traffic-plane.png" ng-click="selectTraffic.closeTraffic(1001)">
                <p class="traffic-text">
                    <span>{{'create.traffic.plane'|translate}}<!--飞机--></span>
                </p>
            </div>
            <div class="col traffic-icon">
                <img ng-src="img/expense_report_version/travel/traffic/traffic-train.png" ng-click="selectTraffic.closeTraffic(1002)">
                <p class="traffic-text">
                    <span>{{'create.traffic.The.train.and.other'|translate}}<!--火车及其它--></span>
                </p>
            </div>
        </div>
    </ion-content>
</ion-modal-view>

