<div class="item select-type-directive"
     ng-if="!expense.valid && expense.expenseTypeIconName !== 'privateCarForPublic'">
    <div class="row row-center" ng-click="!status && openDialog()">
        <div class="col-60 type-icon">
            <div class="expense-type-name">
                {{expense.expenseTypeName}}
            </div>
            <div class="expense-type-icon-url">
                <img ng-src="{{expense.expenseTypeIconURL}}" alt="">
            </div>
        </div>

        <!--显示金额:如果是本位币-->
        <div class="col col-40" ng-if="expense.currencyCode==originCurrencyCode">
            <p class="text-right expense-money "
               ng-class="{true: '', false: 'text-no-input'}[ expense.amount > 0]"
            >
                <span>{{expense.currencyCode}}</span>
                <span>{{expense.amount|number:2}}</span>
            </p>
        </div>

        <!--显示金额:如果不是本位币-->
        <div class="col" ng-if="expense.currencyCode!=originCurrencyCode">
            <p class="text-right expense-money invoice-money-foreign"
               ng-class="{true: '', false: 'text-no-input'}[ expense.amount > 0]"
            >
                <span>{{expense.currencyCode}}</span>
                <span>{{expense.amount|number:2}}</span>
            </p>

            <!--如果不是本位币下面则显示本位币-->
            <p class="text-right expense-money"
               ng-class="{true: '', false: 'text-no-input'}[ expense.amount > 0]"
               ng-if="expense.currencyCode!=originCurrencyCode"
            >
                <span>{{originCurrencyCode}}</span>
                <span>{{expense.baseAmount|number:2}}</span>
            </p>
        </div>
    </div>

    <!--没有手输入汇率的时候-->
    <div ng-if="!(expense.actualCurrencyRate &&
                expense.actualCurrencyRate != '' &&
                expense.actualCurrencyRate != 0 &&
                expense.actualCurrencyRate != null &&
                expense.actualCurrencyRate != undefined ) ||
                 expense.companyCurrencyRate == expense.actualCurrencyRate
                ">
                <!--需要显示企业汇率:配置不可修改汇率 && 选择了外币 && 公司的汇率不为空或者零-->
                <div class="expense-rate-wrap-appliction"
                     ng-if="!(expense.companyCurrencyRate == 0 || expense.companyCurrencyRate == '') &&
                        (originCurrencyCode != expense.currencyCode) &&
                        !rateChangeAbled">
                    <p class="expense-rate">
                        企业汇率 {{expense.companyCurrencyRate|number:4}}
                    </p>
                </div>
    </div>

    <!--有手输入汇率的时候-->
    <div ng-if="!!(expense.actualCurrencyRate &&
                expense.actualCurrencyRate != '' &&
                expense.actualCurrencyRate != 0 &&
                expense.actualCurrencyRate != null &&
                expense.actualCurrencyRate != undefined )
                ">
                <!--可以修改汇率:如果设定的汇率与企业不一样,会显示差异与企业汇率-->
                <!--如果有手输入的汇率,就要显示输入的汇率-->
                <div class="expense-rate-wrap-appliction" ng-if=" (expense.companyCurrencyRate!=expense.actualCurrencyRate) || (rateChangeAbled &&(originCurrencyCode!=expense.currencyCode))">
                    <!--当显示不是本位币的时候且配置为允许修改,才允许修改汇率-->
                    <p class="expense-rate"
                       ng-class="{true: 'expense-rate-button', false: ''}[!readonly && rateChangeAbled]"
                       ng-if="rateChangeAbled"
                       ng-click="!readonly && rateChangeAbled && showinputrate()">
                        汇率 {{expense.actualCurrencyRate|number:4}} <span ng-if="!readonly && rateChangeAbled">&gt;</span>
                    </p>
                    <p class="expense-rate" ng-if="(expense.companyCurrencyRate!=expense.actualCurrencyRate)&&expense.actualCurrencyRate"
                    >
                        汇率差 {{selfCurrencyRateCurrencyRate}}
                    </p>
                    <p class="expense-rate"
                       ng-if="expense.companyCurrencyRate!=expense.actualCurrencyRate">
                        企业汇率 {{expense.companyCurrencyRate|number:4}}
                    </p>
                </div>
    </div>
</div>

<!--公车私用-->
<div class="item select-type-directive" ng-if="expense.expenseTypeIconName === 'privateCarForPublic'" ng-click="!status && modifyMileage()">
    <div class="row row-center">
        <img ng-src="{{expense.expenseTypeIconURL}}" class="private-icon" alt="">
        <div class="col">
            {{expense.expenseTypeName}}
        </div>
        <p class="text-right text-mileage"
           ng-class="{true: '', false: 'text-no-input'}[ expense.amount > 0]">
            {{expense.unitPrice | currency :code}}/km
            <br/>
            {{'select_type.mileage'|translate}}<!--里程-->
            <span class="text-amount-right">
                {{expense.mileage}}/km
            </span>
        </p>
    </div>
    <div class="row row-center padding-top-zero text-mileage">
        <div class="col col-50">
            {{'select_type.Refer.to.the.mileage'|translate}}<!--参考里程-->&nbsp;&nbsp;{{expense.referenceMileage}}/km
        </div>
        <div class="col col-50 text-right"
             ng-class="{true: '', false: 'text-no-input'}[ expense.amount > 0]">
            {{'select_type.The.total.amount.of'|translate}}<!--总额-->
            <span class="text-amount-right">
                {{expense.amount | currency :code}}
            </span>
        </div>
    </div>
</div>
<div class="item select-type-directive" ng-click="!status && openDialog()" ng-if="expense.valid && expense.expenseTypeIconName !== 'privateCarForPublic'">
    <div class="row row-center" ng-click="!status && openDialog()">
        <span>
            {{expense.expenseTypeName}}
        </span>
        <div class="col type-icon">
            <img ng-src="{{expense.expenseTypeIconURL}}" alt="">
        </div>
        <p class="text-right expense-money"
           ng-class="{true: '', false: 'text-no-input'}[ expense.amount > 0]">
            {{expense.unitPrice | currency : code}}/{{expense.unit}}
        </p>
    </div>
    <div class="row row-center border-bottom" ng-click="!status && openDialog()">
        <div class="col text-right">
            <p class="text-right expense-money"
               ng-class="{true: '', false: 'text-no-input'}[ expense.amount > 0]">
                {{expense.number}}{{expense.unit}}
            </p>
        </div>
    </div>
    <div class="row row-center" ng-click="!status && openDialog()">
        <div class="col text-right">
            <p class="text-right expense-money-yellow">
                {{'select_type.The.total.amount'|translate}}<!--总金额-->: {{expense.amount | currency : code}}
            </p>
        </div>
    </div>
</div>
<script id="expense.type.selector.dialog.html" type="text/ng-template">
    <ion-modal-view class="select-type">
        <ion-header-bar align-title="center">
            <p class="title">
                {{'select_type.Cost.type.choice'|translate}}<!--费用类型选择-->
            </p>
            <span class="city-cancel" ng-click="view.cancel()">
                {{'destination.cancel'|translate}}<!--取消-->
            </span>
        </ion-header-bar>
        <!--<ion-subheader-bar class="bar bar-subheader">-->
        <!--<span>-->
        <!--{{categoryList[0].name}}-->
        <!--</span>-->
        <!--</ion-subheader-bar>-->
        <ion-content ion-sticky="expenseType" delegate-handle="typeScroll" ng-class="{'has-full-footer': view.isShowKeyboard || expense.valid}">
            <div class="type-list-pane">
                <div class="expense-list" ng-if="historyList.length > 0">
                    <ion-item  class="category-name item-divider">
                        {{'select_type.histroy.select'|translate}}
                        <!--历史选择-->
                    </ion-item>
                    <div class="row row-center expense-item" ng-repeat="type in historyList | orderBy: 'sequence'" ng-click="view.selectType(type)"
                         ng-if="!type.readonly" alt="">
                        <img ng-src="{{type.iconURL}}" alt="" class="icon" ng-if="type.iconURL">
                        <img ng-src="img/expensetypes/{{type.iconName}}.png" class="icon" alt="" ng-if="!type.iconURL">
                        <p class="type-list-text">{{type.name}}</p>
                        <img src="img/travel/select.png" alt="" ng-if="expense.expenseTypeOID == type.expenseTypeOID" class="select-icon">
                    </div>
                </div>
                <div  ng-repeat="category in categoryList" ng-if="category.hasExpense" class="expense-list">
                    <ion-item  class="category-name item-divider">
                        {{category.name}}
                    </ion-item>
                    <div class="row row-center expense-item" ng-repeat="type in expenseTypeList | orderBy: 'sequence'" ng-click="view.selectType(type)"
                         ng-if="!type.valid && !type.readonly && type.expenseTypeCategoryOID == category.expenseTypeCategoryOID" alt="">
                        <img ng-src="{{type.iconURL}}" alt="" class="icon" ng-if="type.iconURL">
                        <img ng-src="img/expensetypes/{{type.iconName}}.png" alt="" class="icon" ng-if="!type.iconURL">
                        <p class="type-list-text">{{type.name}}</p>
                        <img src="img/travel/select.png" alt="" ng-if="expense.expenseTypeOID == type.expenseTypeOID" class="select-icon">
                    </div>
                </div>
                <div ng-if="hasValid" class="expense-list">
                    <p class="category-name">
                        {{'select_type.subsidies'|translate}}<!--补贴-->
                    </p>
                    <div class="row row-center expense-item" ng-repeat="type in expenseTypeList | orderBy: 'sequence'" ng-click="view.selectType(type)"
                         ng-if="type.valid && !type.readonly" alt="">
                        <img ng-src="{{type.iconURL}}" alt="" class="icon" ng-if="type.iconURL">
                        <img ng-src="img/expensetypes/{{type.iconName}}.png" alt="" class="icon" ng-if="!type.iconURL">
                        <p class="type-list-text">{{type.name}}</p>
                        <img src="img/travel/select.png" alt="" ng-if="expense.expenseTypeOID == type.expenseTypeOID" class="select-icon">
                    </div>
                </div>
            </div>
        </ion-content>
        <div ng-if="view.isShowKeyboard" class="black-ground" ng-click="view.showKeyboard()">

        </div>
        <ion-footer-bar keyboard-attach ng-class="{'full-height': view.isShowKeyboard || expense.valid}"
                        class="type-select-footer">
            <div class="allowance" ng-if="expense.valid">
                <div class="row row-center result">
                    <img ng-src="{{expense.expenseTypeIconURL}}" alt="" class="expense-type">
                    <div class="col type-name">
                        {{expense.expenseTypeName}}
                    </div>
                    <p class="text-right equational">
                        <span class="total">
                            {{ currencyCode }}{{expense.amount | number:2}}
                        </span>
                    </p>
                </div>
                <div class="row row-center input-number">
                    <div class="col col-center border-right">
                        <p class="text-center text-label">
                            {{'select_type.money'|translate}}<!--金额-->/{{expense.unit}}
                        </p>
                        <input type="number" ng-model="expense.unitPrice" pattern="[0-9.]*" class="text-value"
                               placeholder="{{'select_type.Enter.the.amount'|translate}}"><!--输入金额-->
                    </div>
                    <div class="col col-center">
                        <p class="text-center text-label">
                            {{expense.unit}}{{'select_type.number'|translate}}<!--数-->
                        </p>
                        <input type="number" ng-model="expense.number" pattern="[0-9.]*" class="text-value"
                               placeholder="{{'select_type.Enter.the.number'|translate}}"><!--输入天数-->
                    </div>
                </div>
                <div class="row row-center">
                    <div class="col col-20"></div>
                    <div class="col col-60">
                        <a href="" class="finish" ng-click="view.finish()">
                            {{'select_type.complete'|translate}}<!--完成-->
                        </a>
                    </div>
                    <div class="col col-20"></div>
                </div>
            </div>
            <div class="calculation" ng-if="!expense.valid">
                <div class="row row-center result" ng-click="view.showKeyboard()">
                    <img ng-src="{{expense.expenseTypeIconURL}}" alt="" class="expense-type">
                    <!--非补贴-->
                    <div class="col type-name">
                        {{expense.expenseTypeName}}
                    </div>
                    <p class="text-right equational">
                        <span class="caculation-string">{{view.equational}}</span>
                        <br/>
                        <span class="total">
                         {{ currencyCode }} {{expense.amount | number:2}}
                        </span>
                    </p>
                </div>
                <div class="row row-center currency-code" ng-click="view.selectCurrencyCode()">
                    <div class="currency-name">
                        {{ currencyCode }}
                    </div>
                    <p class="full-name" ng-if="currencyName">
                        ({{ currencyName }})
                    </p>
                </div>
                <div ng-if="view.isShowKeyboard">
                    <!--<keyboard-amount amount="expense.amount" equational="view.equational" finish="view.hideModel()"></keyboard-amount>-->
                    <div class="row row-center keyboard">
                        <div class="col" ng-click="view.push('7')">
                            7
                        </div>
                        <div class="col" ng-click="view.push('8')">
                            8
                        </div>
                        <div class="col" ng-click="view.push('9')">
                            9
                        </div>
                        <div class="col" ng-click="view.push('/')">
                            /
                        </div>
                        <div class="col border-right" ng-click="view.clearOne()">
                            <img src="img/expense/delete-one.png" alt="" class="delete-one">
                        </div>
                    </div>
                    <div class="row row-center keyboard">
                        <div class="col" ng-click="view.push('4')">
                            4
                        </div>
                        <div class="col" ng-click="view.push('5')">
                            5
                        </div>
                        <div class="col" ng-click="view.push('6')">
                            6
                        </div>
                        <div class="col" ng-click="view.push('+')">
                            +
                        </div>
                        <div class="col border-right" ng-click="view.push('-')">
                             -
                        </div>
                    </div>
                    <div class="row row-center keyboard">
                        <div class="col" ng-click="view.push('1')">
                            1
                        </div>
                        <div class="col" ng-click="view.push('2')">
                            2
                        </div>
                        <div class="col" ng-click="view.push('3')">
                            3
                        </div>
                        <div class="col" ng-click="view.push('x')">
                            x
                        </div>
                        <div class="col border-right" ng-click="view.calculate()">
                            =
                        </div>
                    </div>
                    <div class="row row-center keyboard">
                        <div class="col" ng-click="view.clear()">
                            C
                        </div>
                        <div class="col" ng-click="view.push('0')">
                            0
                        </div>
                        <div class="col" ng-click="view.push('.')">
                            .
                        </div>
                        <div class="col col-40 back-ok" ng-click="view.calculationOverDisable && view.calculationOver()">
                            ok
                        </div>
                    </div>
                </div>
            </div>
        </ion-footer-bar>
    </ion-modal-view>
</script>

