<!-- combox 费用账本--发票类型
Created by zong.liu on 2017/8/15.-->
<div class="hecinvcate-selector">
    <div class="row row-center">
        <div class="col filed-name hec-item-prompt" >{{'hec_combox.input.invcate.prompt'|translate}}
            <span class="hec-selector-required" ng-if="!readonly">*</span>
        </div>
        <div class="col col-60 text-right language-right"  ng-click="!readonly&&openDialog()">
            <span ng-if="invCateName" class="cost-center-name" style="font: inherit;font-size: 100%;white-space: normal;">
                {{invCateName}}
            </span>
            <span class="cost-center-name hec-selector-placeholder" ng-if="!readonly" ng-hide="invCateName">{{'hec_common.please.select.one'|translate}}</span>
        </div>
        <span class="icon ion-ios-arrow-right hec-selector-arrow-right" ng-hide="readonly"></span>
    </div>
</div>
<script id="hecinvcate.selector.dialog.html" type="text/ng-template">
    <ion-modal-view class="hecinvcate-selector-modal">
        <ion-header-bar class="header item-input-inset">
            <button class="button button-clear" ng-click="modal.hide()">
                <i class="icon ion-ios-arrow-left"></i>
            </button>
            <h1 class="title">{{'hec_combox.input.invcate.prompt'|translate}}</h1>
        </ion-header-bar>
        <ion-content>
            <div class="text-center selector-nothing" ng-if="lastPage == 0">
                <img class="no_data_img" src="img/expense_report_version/travel/no-itinerary.png" alt="">
                <p class="text-center">
                    {{"hec_common.no.search.results"|translate}}
                </p>
            </div>
            <ion-list>
                <div class="item" style="padding: 10px" ng-repeat="invcate in invcates track by $index" ng-click="selectItem(invcate)">
                    <p class="combox-selector-new" style="white-space: normal;"> {{invcate.invoice_category_name}}</p>
                    <div class="comBox">
                        <img class="checked-img" src="img/hec/combox/select.png" alt=""
                             ng-if="selected === invcate.invoice_category_id">
                    </div>
                </div>
            </ion-list>
            <ion-infinite-scroll
                on-infinite="loadMore(page + 1)"
                distance="1%"
                ng-if="lastPage > page"
                immediate-check="false"
            ></ion-infinite-scroll>
        </ion-content>
    </ion-modal-view>
</script>
