<!-- lov 公司
Created by zong.liu on 2017/8/15.-->
<div>
    <div class="row row-center">
        <div class="col hec-item-prompt filed-name" >
            {{'hec_lov.input.company.prompt' | translate}}
            <span class="hec-selector-required" ng-if="!readonly">*</span>
        </div>
        <div class="col col-60 text-right language-right"  ng-click="!readonly&&openDialog()">
            <span ng-if="companyName" class="cost-center-name" style="white-space: normal;">
                {{companyName}}
            </span>
            <span class="cost-center-name hec-selector-placeholder" ng-if="!readonly" ng-hide="companyName">{{'hec_common.please.select.one'|translate}}</span>
        </div>
        <span class="icon ion-ios-arrow-right hec-selector-arrow-right" ng-hide="readonly"></span>
    </div>
</div>
<script id="heccompany.selector.dialog.html" type="text/ng-template">
    <ion-modal-view class="heccompany-selector-modal">
        <ion-header-bar class="header item-input-inset">
            <button class="button button-clear" ng-click="modal.hide()">
                <i class="icon ion-ios-arrow-left"></i>
            </button>
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="{{'hec_lov.input.company.keywords'|translate}}"
                       ng-model="searchKeyword.value" ng-model-options="{debounce:500}"
                       ng-change="searchCompany()">
            </label>
        </ion-header-bar>
        <ion-content>
            <div class="text-center selector-nothing" ng-if="lastPage == 0">
                <img class="no_data_img" src="img/expense_report_version/travel/no-itinerary.png" alt="">
                <p class="text-center">
                    {{"hec_common.no.search.results"|translate}}
                </p>
            </div>
            <ion-list>
                <div class="item" style="padding: 10px" ng-repeat="company in companies" ng-click="selectItem(company)">
                    <h2 style="white-space: normal;">{{company.company_short_name}}</h2>
                </div>
            </ion-list>
            <ion-infinite-scroll
                on-infinite="loadMore(page + 1)"
                distance="1%"
                ng-if="lastPage > page"
                immediate-check="false"
            ></ion-infinite-scroll>
        </ion-content>
    </ion-modal-view>
</script>


<!--<div ng-click="!readonly&&openDialog()">
    <div class="row row-center">
        <div class="col col-5 filed-name">{{'hec_lov.input.company.prompt' | translate}}&lt;!&ndash;文本提示&ndash;&gt;</div>
        <div class="col col-60 text-right language-right">
            <span ng-if="companyName" class="cost-center-name">
                {{companyName}}
            </span>
            <span class="value" ng-if="!companyName"  ng-hide="readonly">{{'hec_common.please.select.one' | translate}}</span>
        </div>
        <span class="icon ion-ios-arrow-right" ng-hide="readonly"></span>&lt;!&ndash;只读则隐藏图标&ndash;&gt;
    </div>
</div>
<script id="heccompany.selector.dialog.html" type="text/ng-template">
    <ion-modal-view class="location-selector-modal">
        <ion-header-bar class="header item-input-inset">
            <button class="button button-clear" ng-click="modal.hide()">
                <i class="icon ion-ios-arrow-left"></i>
            </button>
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="{{'hec_lov.input.company.keywords'|translate}}"
                       ng-model="searchKeyword" ng-model-options="{debounce:500}"
                       ng-change="searchCompany(searchKeyword)">&lt;!&ndash;关键字&ndash;&gt;
            </label>
        </ion-header-bar>
        <ion-content>
            <div class="text-center no-itinerary" ng-if="total === 0">
                <img class="no_data_img" src="img/expense_report_version/travel/no-itinerary.png" alt="">
                <p class="text-center">
                    {{"hec_common.no.search.results"|translate}}
                </p>
            </div>
            <ion-list>
                <div class="item" ng-repeat="company in companies" ng-click="selectItem(company)">
                    <h2>{{company.company_short_name}}</h2>
                </div>
            </ion-list>
            <ion-infinite-scroll
                on-infinite="loadMore(page + 1)"
                distance="1%"
                ng-if="view.lastPage > view.page"
                immediate-check="false"
            ></ion-infinite-scroll>
        </ion-content>
    </ion-modal-view>
</script>-->

