<ion-item class="more-setting-erv">
    <div class="row row-center">
        <div class="col">
            {{'more_settings.More.Settings'|translate}}<!--更多设置-->
        </div>
        <div class="col text-right">
            <img src="img/expense_report_version/travel/arrow.png" alt="" class="travel-arrow">
        </div>
    </div>
</ion-item>
<script id="more-setting.html" type="text/ng-template">
    <ion-modal-view class="more-setting-erv-content">
        <ion-header-bar>
            <h3 class="title">{{'more_settings.More.Settings'|translate}}<!--更多设置--></h3>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item>
                    <div class="row row-center">
                        <div class="col">
                            {{'more_settings.The.approver.set'|translate}}<!--审批人设置-->
                        </div>
                        <div class="col">

                        </div>
                    </div>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-modal-view>
</script>
