<div class="year"> {{titleText}}</div>
<div class="row row-center">
    <div class="col col-25">
        <div class="scroll-container" on-drag="onDragScroll($event, 0)" on-release="onReleaseScroll($event, 0)">
            <div class="stage" ng-style="stageRotate">
                <div class="scroll-item" ng-repeat="item in hour track by $index" ng-style="rotates[0][$index]"
                     ng-class="{true: 'selected'}[nowIndex == $index]">{{item}}
                </div>
            </div>
        </div>
    </div>
    <div class="col col-25">
        <div class="scroll-container" on-drag="onDragScroll($event, 1)" on-release="onReleaseScroll($event, 1)">
            <div class="stage" ng-style="stageRotate">
                <div class="scroll-item" ng-repeat="item in minutes track by $index" ng-style="rotates[1][$index]"
                     ng-class="{true: 'selected'}[nowIndex == $index]">{{item}}
                </div>
            </div>
        </div>
    </div>
    <div class="col col-25">
        <div class="scroll-container" on-drag="onDragScroll($event, 2)" on-release="onReleaseScroll($event, 2)">
            <div class="stage" ng-style="stageRotate">
                <div class="scroll-item" ng-repeat="item in hour track by $index" ng-style="rotates[3][$index]"
                     ng-class="{true: 'selected'}[nowIndex == $index]">{{item}}
                </div>
            </div>
        </div>
    </div>
    <div class="col col-25">
        <div class="scroll-container" on-drag="onDragScroll($event, 3)" on-release="onReleaseScroll($event, 3)">
            <div class="stage" ng-style="stageRotate">
                <div class="scroll-item" ng-repeat="item in minutes track by $index" ng-style="rotates[3][$index]"
                     ng-class="{true: 'selected'}[nowIndex == $index]">{{item}}
                </div>
            </div>
        </div>
    </div>
    <span>
         至
    </span>
</div>

<div class="select-week" ng-click="selectItem()">确定</div>
