<ion-view class="travel-export-success">
    <ion-nav-title>
        <span class="expense-report-nav-title">{{'success.Have.been.through'|translate}}<!--已通过--></span>
    </ion-nav-title>
    <ion-content class="travel-export-content">
        <div class="text-center">
            <img src="img/expense_report_version/travel/export-success.png" alt="" class="success-icon">
            <p class="success-text">
                {{'success.Expense.account.to.create.success'|translate}}<!--报销单创建成功!-->
            </p>
            <div class="expense-report-btn" ng-click="goExpense()">
                {{'success.Check.the.expense.account'|translate}}<!--查看报销单-->
            </div>
            <div class="order-btn" ng-click="goOrder()">
                {{'success.To.return.tickets'|translate}}<!--返回去订票-->
            </div>
        </div>
    </ion-content>
</ion-view>
