<!--Lov 费用账本-新建费用-维度
Created by zong.liu on 2017/8/15.-->
<div>
    <div class="row row-center">
        <div class="col text-left filed-name hec-item-prompt" >
            {{dimPrompt}}
            <span class="hec-selector-required" ng-if="!readonly">*</span>
        </div>
        <div class="col col-60 text-right language-right"  ng-click="!readonly&&openDialog()">
            <span ng-if="dimDesc" class="cost-center-name" style="white-space: normal;"> {{dimDesc}} </span>
            <span class="value hec-selector-placeholder" ng-if="!readonly" ng-hide="dimDesc">{{'hec_common.please.select.one'|translate}}</span>
        </div>
        <span class="icon ion-ios-arrow-right hec-selector-arrow-right" ng-hide="readonly"></span>
    </div>
</div>
<script id="hecdimension.selector.dialog.html" type="text/ng-template">
    <ion-modal-view class="hecrate-selector-modal">
        <ion-header-bar class="header item-input-inset">
            <button class="button button-clear" ng-click="modal.hide()">
                <i class="icon ion-ios-arrow-left"></i>
            </button>
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="{{'hec_lov.input.dimension.keywords'|translate}}"
                       ng-model="searchKeyword.value" ng-model-options="{debounce:500}"
                       ng-change="searchDimension()">
            </label>
        </ion-header-bar>
        <ion-content>
            <div class="text-center selector-nothing" ng-if="lastPage == 0">
                <img class="no_data_img" src="img/expense_report_version/travel/no-itinerary.png" alt="">
                <p class="text-center">
                    {{"hec_common.no.search.results"|translate}}
                </p>
            </div>
            <ion-list>
                <div ng-if="!loanFlag" class="item" style="padding: 10px" ng-repeat="dimension in dimensions" ng-click="selectItem(dimension)">
                    <p class="combox-selector-new" style="white-space: normal;">
                        {{dimension.description}}
                    </p>
                    <div class="comBox">
                        <img class="checked-img" src="img/hec/combox/select.png" alt=""
                             ng-if="selected === dimension.dimension_value_id">
                    </div>
                </div>
                <div ng-if="loanFlag" class="item" style="padding: 10px" ng-repeat="dimension in dimensions" ng-click="selectItem(dimension)">
                    <p class="combox-selector-new" style="white-space: normal;">
                        {{dimension.project_name}}
                    </p>
                    <div class="comBox">
                        <img class="checked-img" src="img/hec/combox/select.png" alt=""
                             ng-if="selected === dimension.project_id">
                    </div>
                </div>
            </ion-list>
            <ion-infinite-scroll
                on-infinite="loadMore(page + 1)"
                distance="1%"
                ng-if="lastPage > page"
                immediate-check="false"
            ></ion-infinite-scroll>
        </ion-content>
    </ion-modal-view>
</script>
