.hec-expense-report{
    background-color: #f1f1f1;
    .hec-content{
        margin: 0px;
        padding: 0px;
        .item {
            border: none;
            border-bottom: 1px solid #e2e2e2;
            margin-top: 1px;
            padding: 6px 12px;
            font-size: 15px;
            .col {
                padding: 0;
            }
            .text-value {
                color: #4c4c4c;
                text-align: right;
                font-size: 15px;
                height: 25px;
                line-height: 25px;
                .hec-money{
                    color:red;
                }
            }
            .form-logo {
                margin-left: .5rem;
                width: 1.2rem;
                height: 1.2rem;
            }
        }
        .hec-history-button{
            padding: 0px;
            margin-bottom: -10px;
            .hec-over-button {
                min-height: 35px;
                font-size: 15px;
                line-height: 35px;
                margin: 5px 0px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        .hec-item-input{
            padding: 6px 17px;
            .row{
                padding: 0px;
            }
            .col {
                input {
                    text-align: right;
                    width: 100%;
                    font-size: 15px;
                    background-color: #fff;
                }
            }
        }
        .item.item-toggle {
            padding: 15px;
        }
        .text-tip {
            font-size: 15px;
            color: #444;
            padding: 8px 0px 0px 17px;
        }
        .text-area {
            width: 100%;
            min-height: 80px;
            padding: 10px;
            color: #959595;
            font-size: 1em;
            border-bottom: 1px solid #e2e2e2;
        }
        .line-item{
            margin: 10px;
            border: none;
            padding: 0;
            .item-content {
                //padding: 2px 5px;
                padding: 8px 5px;
                .type-name {
                    padding: 0;
                    font-size: 15px;
                    color: #4c4c4c;
                    height: 16px;
                    line-height: 16px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 100%;
                }
                .comment {
                    padding: 0;
                    font-size: 14px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 100%;
                }
                .amount{
                    font-size: 15px;
                    color: #ff6a10;
                    text-align: right;
                    .currency {
                        font-size: 12px;
                    }
                }
            }
            .button-delete{
                background-color: red;
                color: white;
            }
        }
        .hec-plan {
            padding: 0px 5px;
            /*padding: .5rem .4rem;
            text-align: center;
            display: flex;
            justify-content: space-between;
            background: #fff;
            .hec-important{
                background: #ec665c;
                color: #fff;
            }*/
            button {
                min-height: 35px;
                font-size: 15px;
                line-height: 35px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                /*width: 165px;
                font-size: 15px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;*/
            }
            .hec-disable {
                background: #959595;
            }
           /* img{
                width: 10px;
                vertical-align: middle;
                margin-left: 3px;
            }*/
        }
        .expense-tips{
            margin: 10px;
            font-size: 1em;
            color: #959595;
        }
    }
    .hec-footer {
        padding: 0;
        .row {
            padding: 0;
            .col {
                padding: 0;
                margin: 0;
                height: 100%;
                line-height: 44px;
            }
            .expense-new {
                background-color: #fff;
                color: #0092da;
                font-size: 1.2em;
                height: 44px;
                line-height: 44px;
                border-top: thin solid #e2e2e2;
            }
            .expense-reject{
                background-color: #e64e4e;
                color: #fff;
                font-size: 1.2em;
                height: 44px;
                line-height: 44px;
            }
            .expense-agree{
                background-color: #50cd93;
                color: #fff;
                font-size: 1.2em;
                height: 44px;
                line-height: 44px;
            }
            .operation-all {
                background-color: #0092da;
                color: #fff;
                font-size: 1.2em;
                height: 44px;
                line-height: 44px;
            }
            .disable-operation {
                background-color: #cdcdcd;
            }
        }
        .hec-report-save {
            border-color: transparent;
            color: #0092da;
            height: 44px;
            line-height: 44px;
            background-color: #fff;
        }
        .hec-report-import {
            border-color: transparent;
            color: #0092da;
            height: 44px;
            line-height: 44px;
            border-top: thin solid #e2e2e2;
            background-color: #f2f2f2;
        }
        .hec-report-new {
            border-color: transparent;
            color: #fff;
            height: 44px;
            line-height: 44px;
            background-color: #0099cc;
        }
    }
}

.hec-paymentList {
    .hec-pay{
        .hec-payItem {
            width: 90%;
            margin: .5rem auto;
            border: 1px solid #e2e2e2;
            border-radius: .2rem;
            font-size: 15px;
            .button-delete {
                background-color: red;
                color: white;
            }
        }
        .item-complex .item-content{
            padding: 5px;
        }
    }
}
