<!-- lov 费用账本--费用项目(暂未使用)
Created by zong.liu on 2017/8/15.-->
<div class="hecexpitem-selector">
    <div class="row row-center">
        <div class="col filed-name" >{{'hec_lov.input.expitem.prompt'|translate}}</div>
        <div class="col col-60 text-right language-right"  ng-click="!readonly&&openDialog()">
            <span ng-if="expItemName" class="cost-center-name">
                {{expItemName}}
            </span>
            <span class="cost-center-name hec-selector-placeholder" ng-if="!readonly" ng-hide="expItemName">{{'hec_common.please.select.one'|translate}}</span>
        </div>
        <span class="icon ion-ios-arrow-right  hec-selector-arrow-right" ng-hide="readonly"></span>
    </div>
</div>
<script id="hecexpitem.selector.dialog.html" type="text/ng-template">
    <ion-modal-view class="hecexpitem-selector-modal">
        <ion-header-bar class="header item-input-inset">
            <button class="button button-clear" ng-click="modal.hide()">
                <i class="icon ion-ios-arrow-left"></i>
            </button>
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="{{'hec_lov.input.expitem.keywords'|translate}}"
                       ng-model="searchKeyword.value" ng-model-options="{debounce:500}"
                       ng-change="searchExpItem()"><!--费用项目-->
            </label>
        </ion-header-bar>
        <ion-content>
            <div class="text-center selector-nothing" ng-if="lastPage == 0">
                <img class="no_data_img" src="img/expense_report_version/travel/no-itinerary.png" alt="">
                <p class="text-center">
                    {{"hec_common.no.search.results"|translate}}
                </p>
            </div>
            <ion-list>
                <div class="item" style="padding: 10px" ng-repeat="expitem in expitems track by $index" ng-click="selectItem(expitem)">
                    <h2>{{expitem.expense_item_description}}</h2>
                </div>
            </ion-list>
            <ion-infinite-scroll
                on-infinite="loadMore(page + 1)"
                distance="1%"
                ng-if="lastPage > page"
                immediate-check="false"
            ></ion-infinite-scroll>
        </ion-content>
    </ion-modal-view>
</script>
