<ion-view class="change-user-password">
    <ion-nav-title>
        <span class="expense-report-nav-title">{{'account.modify.password' | translate}}<!--修改密码--></span>
    </ion-nav-title>
    <ion-content >
            <form name="changePasswordForm" novalidate
                  ng-submit="changePassword.changePassword(changePasswordForm.$valid)">
                    <div class="list">
                        <div class="item item-divider"></div>
                        <label class="item item-input item-floating-label">
                            <!--输入旧密码-->
                            <input type="password" placeholder="{{'account.enter.the.old.password' | translate}}" name="oldPassword"
                                   ng-model="changePassword.oldPassword">
                        </label>
                        <label class="item item-input item-floating-label">
                            <!--输入新密码-->
                            <input type="password" placeholder="{{'account.enter.the.new.password' | translate}}" name="newPassword"
                                   ng-model="changePassword.newPassword">
                        </label>
                        <label class="item item-input item-floating-label">
                            <!--确认新密码-->
                            <input type="password" placeholder="{{'account.confirm.new.password' | translate}}" name="confirmNewPassword"
                                   ng-model="changePassword.confirmNewPassword">
                        </label>
                    </div>
                <p class="prompt-color">{{'account.password.consists' | translate}}<!--密码由6~20英文字母，数字或符号组成--></p>
                <button type="submit" class="button button-block button-positive"
                        ng-disabled="changePassword.oldPassword == null || changePassword.newPassword == null || changePassword.confirmNewPassword == null||
                         changePassword.newPassword.length < 6 || changePassword.confirmNewPassword.length < 6">{{'account.confirm' | translate}}<!--确认-->
                </button>
            </form>
    </ion-content>
</ion-view>
