.location-selector-modal {
    .header.item-input-inset {
        .button.button-clear {
            color: #0092da;
        }
        .item-input-wrapper {
            margin: 0 10px;
        }
    }
    .item{
        h2{
            color: #4C4C4C;
        }
        p{
            color: #959595;
        }
    }
}
