
.relate-application-modal{
    background-color: #fff;
    .bar-header {
        .title {
            color: #444;
            font-weight: normal;
            font-size: 15px;
        }
        .cancel {
            font-size: 0.9em;
            color: #4c4c4c;
            position: absolute;
            right: 7px;
            top: 15px !important;
        }
    }
    .select-tips{
        background-color: #f1f1f1;
        font-size: 16px;
        padding: 10px;
        color: #959595;
    }
    .item{
        border: thin solid #eee;
        white-space: normal !important;
        color: #4c4c4c;

        .title{
            color: #333333;
        }

        .applicant-name{
            font-size: 14px;
        }
    }
}
