<ion-view class="hec-approval-list" hide-back-button="true">
    <ion-nav-title>
        <span class="expense-report-nav-title">
            {{'approval.title' | translate}}<!--审批-->
        </span>
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <a ng-click="goBack();"
           class="back-button">
            <img src="img/back.png" class="save-btn">
        </a>
    </ion-nav-buttons>
    <div class="search-div row" ><!--ng-if="vm.status === 'waitApproval'"-->
        <div class="search-bar ng-binding" ng-click="openSearchModal()">
            <i class="fa fa-search" aria-hidden="true"></i>
            <!--搜索-->
            {{'approval.search' | translate}}
        </div>
    </div>

    <ion-subheader-bar class="bar bar-subheader sub-has-search-bar" ><!--ng-class="{true: 'sub-has-search-bar', false: 'sub-no-search-bar'}[vm.status === 'waitApproval']"-->
        <div class="row head-tab">
            <div class="approval-head-item" ng-click="vm.changeTab('waitApproval')" ng-class="{true: 'active', false: ''}[vm.status === 'waitApproval']" >
                <span class="ng-binding">
                    <!--未审批-->
                     {{'approval.pending' | translate}}
                </span>
            </div>
            <div class="approval-head-item" ng-click="vm.changeTab('hasApproval')" ng-class="{true: 'active', false: ''}[vm.status === 'hasApproval']">
                <span class="ng-binding">
                    <!--已审批-->
                    {{'approval.already' | translate}}
                </span>
            </div>
        </div>
    </ion-subheader-bar>
    <ion-content class="travel-list-content has-subheader content-has-search-bar"><!--ng-class="{true: 'content-has-search-bar', false: 'content-no-search-bar'}[vm.status === 'waitApproval']"-->
        <!--下拉刷新-->
        <ion-refresher on-refresh="vm.doRefresh(vm.status)"
                       pulling-text="{{'common.loading' | translate}}...">
        </ion-refresher>
        <div class="alert alert-warning warn" ng-if="vm.nothing &&!vm.networkError">
            <img class="warning-icon" src="img/nothing.png"/>
            <p class="warning-word">{{'approval.empty' | translate}}</p>
            <p class="warning-word">{{'approval.no.approval' | translate}}</p>
        </div>
        <div ng-if="vm.networkError && vm.approvalList.length === 0">
            <not-found-text title="vm.networkErrorText" icon="vm.networkErrorIcon">
            </not-found-text>
            <div class="text-center">
                <button class="refresh-btn" ng-click="vm.doRefresh(vm.status)">
                    {{'approval.click.refresh' | translate}}
                </button>
            </div>
        </div>
        <div ng-if="vm.systemError && vm.approvalList.length === 0">
            <not-found-text title="vm.systemErrorText" sub-title="vm.systemErrorSubText"
                            icon="vm.systemErrorIcon">
            </not-found-text>
        </div>
        <div ng-if="vm.status === 'waitApproval'">
            <ion-list>
                <div  class="item approval-item" ng-repeat="waitApproval in vm.approvalList" >
                    <ion-item class="expense-directive item item-complex item-right-editable">
                        <div ng-click="vm.goApproval(waitApproval,vm.status)">
                            <div class="row row-center header">
                                <div class="color-block"></div>
                                <div class="col col-70 error-col">
                                    <p >
                                        No.{{waitApproval.document_number}}&nbsp;&nbsp;
                                    </p>
                                </div>
                                <div class="col">
                                    <p class="text-right">
                                        {{waitApproval.creation_date_view| limitTo:10}}
                                    </p>
                                </div>
                            </div>
                            <div class="expense-item-content">
                                <div class="row row-center expense-item-title">
                                    <div class="col col-center col-60">
                                        <h2 class="daily-expense">
                                            {{waitApproval.description}}
                                        </h2>
                                    </div>
                                    <div class="col col-center text-right expenses-types" >
                                        <p class="approval-status bg-wait-approval">
                                            {{'approval.approval.pending'|translate}}<!--待审批-->
                                        </p>
                                    </div>
                                </div>
                                <div class="row row-middle">
                                    <div class="col col-center col-60">
                                        <p class="text-left">
                                            ({{waitApproval.doc_description?waitApproval.doc_description:'approval.nothing'|translate}})
                                        </p>
                                    </div>
                                    <div class="col col-center text-right expenses-types">
                                        <p class="text-right invoice-money">
                                            {{waitApproval.currency_code|currencyFilter}}
                                            {{waitApproval.instance_amount|amountFilter}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ion-option-button class="hec-button-delete" ng-if="false"
                                           ng-click="">
                        </ion-option-button>
                        <ion-reorder-button class="ion-navicon"
                                            on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
                    </ion-item>
                </div>
            </ion-list>
        </div>

        <div ng-if="vm.status === 'hasApproval'">
            <ion-list>
                <div  class="item approval-item"  ng-repeat="hasApproval in vm.approvalList" >
                    <ion-item class="expense-directive item item-complex item-right-editable">
                        <div ng-click="vm.goApproval(hasApproval,vm.status)">
                            <div class="row row-center header">
                                <div class="color-block"></div>
                                <div class="col col-70 error-col">
                                    <p >
                                        No.{{hasApproval.order_no}}&nbsp;&nbsp;&nbsp;&nbsp;
                                    </p>
                                </div>
                                <div class="col">
                                    <p class="text-right">
                                        {{hasApproval.creation_date|limitTo:10}}
                                    </p>
                                </div>
                            </div>
                            <div class="expense-item-content">
                                <div class="row row-center expense-item-title">
                                    <div class="col col-center col-60">
                                        <h2 class="daily-expense">
                                            {{hasApproval.document_type}}
                                        </h2>
                                    </div>
                                    <div class="col col-center text-right expenses-types" >
                                        <p class="approval-status bg-has-pass" ng-show="hasApproval.order_status=='COMPLETELY_APPROVED'||hasApproval.order_status=='APPROVED'">
                                            <!--审批通过-->
                                            {{'approval.already.passed'|translate}}
                                        </p>
                                        <p class="approval-status bg-has-reject"  ng-show="hasApproval.order_status=='REJECTED'">
                                            <!--已拒绝-->
                                            {{'approval.already.refuse'|translate}}
                                        </p>
                                        <p class="approval-status bg-wait-approval"  ng-show="hasApproval.order_status=='SUBMITTED'">
                                            <!--审批中-->
                                            {{'approval.in.approval'|translate}}
                                        </p>
                                        <p class="approval-status bg-withdraw"  ng-show="hasApproval.order_status=='TAKEN_BACK'">
                                            <!--已收回-->
                                            {{'approval.already.takeBack'|translate}}
                                        </p>
                                        <p class="approval-status bg-editing"  ng-show="hasApproval.order_status=='GENERATE'">
                                            <!--编辑中-->
                                            {{'approval.editing'|translate}}
                                        </p>
                                    </div>
                                </div>
                                <div class="row row-middle">
                                    <div class="col col-center col-60">
                                        <p class="text-left">
                                            ({{hasApproval.doc_description|convertNothing}})
                                        </p>
                                    </div>

                                    <div class="col col-center text-right expenses-types">
                                        <p class="text-right invoice-money">
                                            {{hasApproval.currency_code|currencyFilter}}&nbsp;
                                            {{hasApproval.instance_amount|amountFilter}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ion-option-button class="hec-button-delete" ng-if="false"
                                           ng-click="">
                        </ion-option-button>
                        <ion-reorder-button class="ion-navicon"
                                            on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
                    </ion-item>
                </div>
            </ion-list>
        </div>
        <ion-infinite-scroll
            on-infinite="vm.loadMore(vm.status,vm.page+1)"
            ng-if="vm.page < vm.pageCnt"
            distance="1%"
            immediate-check="false"
        ></ion-infinite-scroll>
    </ion-content>
</ion-view>
