<ion-modal-view class="arrange-tiket-journey">
    <ion-header-bar>
        <a ng-click="view.closeTrainModal()" class="row application-back-button">
            <img src="img/back.png" class="save-btn create-expense-back-btn">
            <span class="back-text-grey">
                {{'custom.application.nav.back' | translate}}
                <!--返回-->
            </span>
        </a>
        <h3 class="title">
            {{"modal.add_train_itinerary"|translate}}
            <!--添加火车行程-->
        </h3>
    </ion-header-bar>
    <ion-content class="block-content">
        <ion-list>
            <ion-item ng-repeat="item in view.trainList" ng-class="{true: 'flow animated1s linear', false: ''}[$index == (view.trainList.length -1) && view.trainList.length > 1]">
                <p class="itinerary-index">
                    <!--行程-->
                    {{"custom.application.tip.itinerary"|translate}}
                    {{$index +1}}
                </p>

                <div class="row row-center input-list supplier-item" ng-click="view.selectSupplier(1002, $index)" ng-if="view.trainSupplier.length > 0">
                    <div class="col col-60">
                        <img ng-src="{{item.supplierIconUrl}}" alt="" class="supplier-icon">
                        <span class="supplier-name">
                            {{ item.supplierName }}
                        </span>
                    </div>
                    <div class="col col-33 text-right text-change-supplier" ng-if="view.trainSupplier.length > 1">
                        <!--切换供应商-->
                        {{"custom.application.tip.change_supplier"|translate}}
                    </div>
                    <div class="col text-right" ng-if="view.trainSupplier.length > 1">
                        <img src="img/expense_report_version/travel/arrow.png" alt="" class="travel-arrow">
                    </div>
                </div>

                <div class="block-card" ng-class="{'shadow-block': $index == (view.trainList.length -1)}">
                    <div class="row row-center change-tab">
                        <div class="triangle-topleft" ng-click="view.changeTrainType(1001, $index)"></div>
                        <div class="triangle-topleft-right" ng-click="view.changeTrainType(1002, $index)"></div>
                        <div class="triangle-topright" ng-click="view.changeTrainType(1002, $index)"></div>
                        <div class="triangle-topright-left" ng-click="view.changeTrainType(1001, $index)"></div>
                        <div class="col col-50 text-center" ng-class="{'active': item.itineraryType == 1001}"
                             ng-click="view.changeTrainType(1001, $index)">
                            {{'custom.application.tip.single' | translate}}
                            <!--单程-->
                        </div>
                        <div class="col col-50 text-center" ng-class="{'active': item.itineraryType == 1002}"
                             ng-click="view.changeTrainType(1002, $index)">
                            {{'custom.application.tip.return' | translate}}
                            <!--往返-->
                        </div>
                    </div>
                    <div class="row row-center select-city">
                        <div class="col col-40">
                            <p class="city-name">
                                <city-selector supplier-name="item.serviceName" city="item.fromCity" code="item.fromCityCode"
                                               hide-hot-city="view.functionProfileList['ca.travel.hotCity.disabled']"
                                               hide-foreign="true"
                                               type="1002" readonly="false" holder="view.departureText">
                                </city-selector>
                            </p>
                        </div>
                        <div class="col col-20"></div>
                        <div class="col col-40">
                            <p class="text-right city-name">
                                <city-selector supplier-name="item.serviceName" city="item.toCity" hide-hot-city="view.functionProfileList['ca.travel.hotCity.disabled']"
                                               hide-foreign="true"
                                               code="item.toCityCode" type="1002" readonly="false" holder="view.destinationText">
                                </city-selector>
                            </p>
                        </div>
                    </div>
                    <div class="to-icon">
                        <img src="img/expense_report_version/travel/traffic/change-other.png" alt=""
                             ng-click="view.changeFlightCity(1002, $index)">
                    </div>

                    <div class="row row-center input-list">
                        <div class="col col-50" ng-click="view.selectTrainDate('startDate', $index)">
                            <p class="date-label" ng-hide="item.startDate">
                                {{'custom.application.tip.start_date' | translate}}
                                <!--出发日期-->
                            </p>
                            <p class="date-value" ng-if="item.startDate">
                                {{item.startDate | dateFilter}}
                            </p>
                        </div>
                        <div class="col col-50" ng-click="view.selectTrainDate('endDate', $index)" ng-if="item.itineraryType == 1002">
                            <p class="date-label text-right" ng-hide="item.endDate">
                                {{'custom.application.tip.back_date' | translate}}
                                <!--返回日期-->
                            </p>
                            <p class="date-value text-right" ng-if="item.endDate">
                                {{item.endDate | dateFilter}}
                            </p>
                        </div>
                    </div>
                    <div class="row row-center self-comment">
                        <div class="col col-100">
                    <textarea placeholder="{{'form.please.input' | translate}}" ng-model="item.remark"
                              maxlength="200">
                    </textarea>
                        </div>
                    </div>
                    <div class="row row-center text-area-number" ng-hide="item.remark.length > 0">
                        <p class="text-right">
                            0/200
                        </p>
                    </div>
                    <div class="row row-center text-area-number" ng-if="item.remark.length > 0">
                        <p class="text-right">
                            {{item.remark.length}}/200
                        </p>
                    </div>
                </div>
                <ion-option-button class="button-assertive delete-itinerary" ng-click="view.deleteTrain($index)">
                    <div class="column">
                        <img src="img/expense_report_version/travel/delete-itinerary.png" alt="" class="delete-icon">
                    </div>
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar>
        <div class="row row-center">
            <div class="col col-50 text-center sure" ng-click="view.saveTrainItinerary()">
                {{"common.sure"|translate}}
                <!--确认-->
            </div>
            <div class="col col-50 text-center sure-create" ng-click="view.saveMoreTrainItinerary()">
                {{"common.sure_and_add"|translate}}
                <!--确认并新建-->
            </div>
        </div>
    </ion-footer-bar>
</ion-modal-view>

