<ion-modal-view class="arrange-tiket-journey">
    <ion-header-bar>
        <a ng-click="view.closeOtherModal()" class="row application-back-button">
            <img src="img/back.png" class="save-btn create-expense-back-btn">
            <span class="back-text-grey">
                {{'custom.application.nav.back' | translate}}
                <!--返回-->
            </span>
        </a>
        <h3 class="title">
            {{"modal.add_other_itinerary"|translate}}
            <!--添加其他交通-->
        </h3>
    </ion-header-bar>
    <ion-content class="block-content">
        <ion-list>
            <ion-item ng-repeat="item in view.otherTrafficList"
                      ng-class="{true: 'flow animated1s linear', false: ''}[$index == (view.otherTrafficList.length -1) && view.otherTrafficList.length > 1]">
                <p class="itinerary-index">
                    <!--行程-->
                    {{"custom.application.tip.itinerary"|translate}}
                    {{$index +1}}
                </p>
                <div class="row row-center block-other">
                    <div class="block-item " ng-class="{'block-item-select': item.trafficType == 1001}"
                         ng-click="view.chooseOtherType(1001, $index)">
                        {{'custom.application.traffic.boat'|translate }}
                        <!--轮船-->
                    </div>
                    <div class="block-item" ng-class="{'block-item-select': item.trafficType == 1002}"
                         ng-click="view.chooseOtherType(1002, $index)">
                        {{'custom.application.traffic.car'|translate }}
                        <!--汽车-->
                    </div>
                    <div class="col">
                        <input type="text" placeholder="{{'custom.application.tip.other_name' | translate}}" maxlength="20" ng-model="item.trafficTypeName"
                               ng-change="view.chooseOtherType(1003, $index)">
                        <!--其他交通，最多20个字符...-->
                    </div>
                </div>
                <div class="block-card"
                     ng-class="{true: 'shadow-block', false: ''}[$index == (view.otherTrafficList.length -1)]">
                    <div class="row row-center change-tab">
                        <div class="triangle-topleft" ng-click="view.changeOtherType(1001, $index)"></div>
                        <div class="triangle-topleft-right" ng-click="view.changeOtherType(1002, $index)"></div>
                        <div class="triangle-topright" ng-click="view.changeOtherType(1002, $index)"></div>
                        <div class="triangle-topright-left" ng-click="view.changeOtherType(1001, $index)"></div>
                        <div class="col col-50 text-center" ng-class="{'active': item.itineraryType == 1001}"
                             ng-click="view.changeOtherType(1001, $index)">
                            {{'custom.application.tip.single' | translate}}
                            <!--单程-->
                        </div>
                        <div class="col col-50 text-center" ng-class="{'active': item.itineraryType == 1002}"
                             ng-click="view.changeOtherType(1002, $index)">
                            {{'custom.application.tip.return' | translate}}
                            <!--往返-->
                        </div>
                    </div>
                    <div class="row row-center select-city">
                        <div class="col col-40">
                            <p class="text-center city-name">
                                <city-selector city="item.fromCity"
                                               hide-hot-city="view.functionProfileList['ca.travel.hotCity.disabled']"
                                               supplier-name="'standard'"
                                               type="'1002'" holder="view.departureText">
                                </city-selector>
                                <!--出发地-->
                            </p>
                        </div>
                        <div class="col col-20"></div>
                        <div class="col col-40">
                            <p class="text-center city-name">
                                <city-selector city="item.toCity" type="'1002'" holder="view.destinationText"
                                               supplier-name="'standard'"
                                               hide-hot-city="view.functionProfileList['ca.travel.hotCity.disabled']">
                                </city-selector>
                                <!--目的地-->
                            </p>
                        </div>
                    </div>
                    <div class="to-icon">
                        <img src="img/expense_report_version/travel/traffic/change-other.png" alt=""
                             ng-click="view.changeFlightCity(1003, $index)">
                    </div>

                    <div class="row row-center input-list">
                        <div class="col col-50 border-bottom" ng-click="view.selectOtherDate('startDate', $index)">
                            <p class="date-label" ng-hide="item.startDate">
                                {{'custom.application.tip.start_date' | translate}}
                                <!--出发日期-->
                            </p>
                            <p class="date-value" ng-if="item.startDate">
                                {{item.startDate | dateFilter}}
                            </p>
                        </div>
                        <div class="col col-50 border-bottom text-right" ng-click="view.selectOtherDate('endDate', $index)"
                             ng-if="item.itineraryType == 1002">
                            <p class="date-label" ng-hide="item.endDate">
                                {{'custom.application.tip.back_date' | translate}}
                                <!--返回日期-->
                            </p>
                            <p class="date-value text-right" ng-if="item.endDate">
                                {{item.endDate | dateFilter}}
                            </p>
                        </div>
                    </div>
                    <div class="row row-center self-comment">
                        <div class="col col-100">
                            <textarea placeholder="{{'form.please.input' | translate}}" ng-model="item.remark"
                                      maxlength="200">
                            </textarea>
                        </div>
                    </div>
                    <div class="row row-center text-area-number" ng-if="item.remark.length > 0">
                        <p class="text-right">
                            {{item.remark.length}}/200
                        </p>
                    </div>
                    <div class="row row-center text-area-number" ng-hide="item.remark.length > 0">
                        <p class="text-right">
                            0/200
                        </p>
                    </div>
                </div>
                <ion-option-button class="button-assertive delete-itinerary" ng-click="view.deleteOther($index)">
                    <div class="column">
                        <img src="img/expense_report_version/travel/delete-itinerary.png" alt="" class="delete-icon">
                    </div>
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar>
        <div class="row row-center">
            <div class="col col-50 text-center sure" ng-click="view.saveOtherItinerary()">
                <!--确认-->
                {{"common.sure"|translate}}
            </div>
            <div class="col col-50 text-center sure-create" ng-click="view.saveMoreOtherItinerary()">
                {{"common.sure_and_add"|translate}}
                <!--确认并新建-->
            </div>
        </div>
    </ion-footer-bar>
</ion-modal-view>

