<ion-view class="set-password-page" hide-back-button="true">
    <ion-nav-title>
        <span class="expense-report-nav-title">{{view.title}}</span>
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <a ng-click="goBack()" class="back-button">
            <img src="img/back.png" class="save-btn">
        </a>
    </ion-nav-buttons>
    <ion-content>
        <form name="passwordForm">
            <div class="list">
                    <div class="row input-group password-account" align="center"
                         ng-show="view.isShowPassword" >
                        <input class="col password-input" name="password" type="text"
                               placeholder="{{'register.Please.set.the.password'|translate}}" ng-model="view.password"
                               ng-required="true">
                            <img class="col eye-icon" src="img/eye-icon.png" ng-click="showPassword()" />
                    </div>
                <div class="row input-group close-password-account" align="center"
                     ng-hide="view.isShowPassword" >
                    <input class="col close-password-input" name="password" type="password"
                           placeholder="{{'register.Please.set.the.password'|translate}}" ng-model="view.password"
                           ng-required="true">
                    <img class="col close-eye-icon" src="img/close-eye.png" ng-click="showPassword()"/>
                </div>
                </div>
                <div class="row">
                    <button class="button next-button button button-block button-positive"
                            ng-hide="view.buttonStatus"
                            ng-click="nextStep(view.password)"
                    >
                        {{'register.next.step'|translate}}<!--下一步-->
                    </button>
                    <button class="button next-button button button-block button-positive"
                            ng-show="view.buttonStatus"
                            ng-click="confirmPassword(view.password)"
                    >
                        {{'register.complete'|translate}}<!--完成-->
                    </button>
                </div>
        </form>
    </ion-content>
</ion-view>
