<ion-view cache-view="false">
    <ion-nav-title>
        <span class="expense-report-nav-title">{{'account.reset.password' | translate}}<!--重置密码--></span>
    </ion-nav-title>
    <ion-content class="reset-password ">
        <form name="forgotPasswordForm">
            <div class="list password-form card">
                <label class="item item-input item-floating-label ">
                    <!--输入新密码-->
                    <input type="password" name="password" placeholder="{{'account.enter.the.new.password' | translate}}" ng-model="forgotPassword.password"
                           ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,20}$/"
                           ng-minlength="6" ng-maxlength="20" required/>

                </label>
                <label class="item item-input item-floating-label">
                    <!--确认新密码-->
                    <input type="password" name="confirmPassword" placeholder="{{'account.confirm.new.password' | translate}}"
                           ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,20}$/"
                           ng-model="forgotPassword.confirmPassword"
                           ng-minlength="6" ng-maxlength="20" required/>
                </label>
            </div>
            <div class="row">
                <button class="button button-block button-positive col-96 confirm-button"
                        ng-click="resetPassword(forgotPasswordForm)"
                >
                    {{'account.confirm' | translate}}<!--确认-->
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>
