<ion-view cache-view="false" class="forget-view">
    <ion-nav-title>
        <span class="expense-report-nav-title">{{'account.reset.password' | translate}}<!--重置密码--></span>
    </ion-nav-title>
    <!--<div class="tabs-striped tabs-top">
        <div class="tabs">
            <a class="tab-item" ng-class="{'active' : view.isActive('item-phone')}" ng-click="view.setActiveContent('item-phone')">
                手机验证
            </a>
            <a class="tab-item" ng-class="{'active' : view.isActive('item-email')}" ng-click="view.setActiveContent('item-email')">
                邮箱验证
            </a>
        </div>
    </div>-->
    <!--<ion-content class="reset-password has-tabs-top">-->
    <ion-content class="reset-password">
        <form name="getResetPasswordTokenForm" novalidate
              ng-submit="getToken.sendForgotPasswordToken(getResetPasswordTokenForm.mobile.$valid,getResetPasswordTokenForm.mobile.$error)"
              class="token-form">
           <!-- <div class="item item-divider"></div>-->
                <img src="img/mobile-number.png" class="mobile-icon" style="top: 1rem;">
                <div class="mobile row input-group" align="center">
                    <!--请输入手机号-->
                    <input type="text" name="mobile" ng-model="forgotPassword.mobile" placeholder="{{'account.please.enter.your.phone.number' | translate}}"
                           ng-change="reset()"
                           ng-required="true" ng-pattern="/^1\d{10}$/">
                    <!--<input type="text" name="mobile"
                           placeholder="{{view.holderTitle}}"
                           ng-model="forgotPassword.mobile"
                           ng-change="reset()"
                           ng-required="true"
                           ng-pattern="/^1\d{10}$/"
                           ng-if="view.activeContent === 'item-phone'"
                    />
                    <input type="text" name="mobile"
                           placeholder="{{view.holderTitle}}"
                           ng-model="forgotPassword.mobile"
                           ng-change="reset()"
                           ng-required="true" ng-pattern="/^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$/"
                           ng-if="view.activeContent !== 'item-phone'"
                    />-->
                </div>
                <div class="input-group row">
                   <input name="token" class="col-60" type="text" placeholder="{{'account.please.enter.the.verification.code' | translate}}"
                           ng-model="forgotPassword.token" ng-minlength="6" ng-maxlength="6"
                           ng-required="true">
                    <button type="submit" class="col-40 button button-raised token-button" ng-hide="status.smsSent">
                        {{'account.send.verification.code'| translate}}<!--发送验证码-->
                    </button>
                    <button class="col-40 button disabled again-send" ng-show="status.smsSent && status.timerStart">
                        <timer interval="1000" countdown="60" auto-start="false"
                               finish-callback="getToken.countdownFinished()">{{'account.resend'| translate}}<!--重新发送-->({{countdown}}{{'account.later.second'| translate}}<!--秒后-->)
                        </timer>
                    </button>
                    <button type="submit" class="col-40 button button-raised token-button"
                            ng-show="status.smsSent && !status.timerStart">
                        {{'account.resend.verification.code'| translate}}<!--重新发送验证码-->
                    </button>
                </div>
            <div class="row">
                <button type="button" class="next-button col-96 button button-block button-positive"
                        ng-disabled="(getResetPasswordTokenForm.token.$invalid || getResetPasswordTokenForm.mobile.$invalid  || !status.smsSent) "
                        ng-click="checkToken(forgotPassword.mobile,forgotPassword.token)
                        ">
                    {{'account.next.step'| translate}}<!--下一步-->
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>
